body {
  margin: 0;
  padding: 0;
  position: relative;
}

* {
  box-sizing: border-box;
}

.nav-container {
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em 1.5em;
  width: 100vw;
  height: 10vh;
}

.nav-item-left ul {
  display: flex;
  gap: 1.6em;
  font-weight: 800;
}
.nav-item-left li {
  list-style-type: none;
}

#logo {
  width: 150px;
}
#phone {
  text-align: right;
}

a:link {
  text-decoration: none;
  color: black;
}
#phone :hover {
  text-decoration: underline;
  color: #246fbe;
}

.nav-item-right {
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

details::before {
  content: url(./asset/blob.jpeg);
}

details {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#top-btn button {
  font-weight: bold;
  font-family: Geneva, Verdana, sans-serif;
  width: 90px;
  height: 50px;
  padding: 20px;
  border: 0px;
  border-radius: 40px;
}

.top-btn-right button {
  background-color: yellow;
}

.main-container {
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  width: 100vw;
  height: 100vh;
}

.main-item-left {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 50%;
  height: 100%;
  position: relative;
}
.main-item-right {
  display: flex;
  width: 50%;
  height: 100%;
}
.main-item-right img {
  border-radius: 0.6em;
  width: 100%;
  height: 100%;
}

.display-content {
  width: 60%;
  justify-self: right;
  position: absolute;
  right: 10px;
}
.display-content * {
  margin: 0.1em;
}
.display-content button {
  margin-top: 1.2em;
  height: 45px;
  border-radius: 20px;
  padding: 20px;
  border: 1px;
  background-color: yellow;

  /* flex property  */
  display: flex;
  align-items: center;
}
